.game{
    /* display: flex; */
    padding: 50px;
}

.board{
    width: 100%;
    height: 500px;
    border: 2px dotted black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row{
    flex: 1;
    border: 5px solid grey;
    display: flex;
}

.col-box{
    flex: 1;
    border: 5px solid pink;
    text-align: center;
}

.circ{
    object-fit: contain;
    width: 100%;
}

