.game {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.board {
  width: clamp(100px, 100%, 500px);
  aspect-ratio: 1;
  border: 5px dotted black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.row {
  flex: 1;
  border-bottom: 10px solid black;
  display: flex;
}

.col-box {
  flex: 1;
  border-right: 10px solid black;
  text-align: center;
}

/* #box3,#box6,#box9 */
.col-box:nth-child(3) {
  border: none;
}

.row:nth-child(3) {
  border-bottom: none;
}

.symbol {
  object-fit: contain;
  width: 95%;
}
