.game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.player {
  flex: 1;
  border: 2px solid green;
  height: 100px;
  font-size: 30px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.board {
  flex: 2;
  width: clamp(100px, 100%, 500px);
  aspect-ratio: 1;
  border: 5px dotted black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.row {
  flex: 1;
  border-bottom: 10px solid black;
  display: flex;
}

.col-box {
  flex: 1;
  border-right: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #box3,#box6,#box9 */
.col-box:nth-child(3) {
  border: none;
}

.row:nth-child(3) {
  border-bottom: none;
}

.symbol {
  object-fit: contain;
  width: 50%;
}

.play-again{
  display: flex;
  justify-content: center;
  margin: 20px;
}

@media (max-width: 700px) {
  .game {
    flex-direction: column;
    padding:0 50px;
    height: 700px;
  }

  .board{
    flex:1;
  }

  .player{
    flex: 1;
    width: 50%;
  }
}
